.wrap {
  position: relative;

  header {
    background-color: black;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: transparent;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: right;
      margin-right: 5%;
      a {
        padding: 10px;
        color: white;
        font-size: 25px;
        font-weight: 700;
        &:nth-of-type(1){
          margin-right: 70%;
          font-size: 40px;
        }
      }
    }
  }

  main {
    background-color: black;
    color: white;
    .topWrap {
      display: flex;
      overflow: hidden;
      .back {
        flex-shrink: 0;
        width: 100%;
        height: 80vh;
        background-size: cover;
        position: relative;

        .thumbWrap {
          padding: 14%;
          display: flex;
          justify-content: space-between;

          >div {
            width: 50%;

            h2 {
              margin: 0;
              font-size: 4rem;
              color: white;
            }

            p {
              color: white;
              padding: 5%;
            }

            >div{
              button{
                width: 200px;
                  height: 50px;
                  margin: 10px;
                  border-radius: 15px;
                
              }
              a{
                >button{
                  background-color: red;
                }
                }
            }
          }

          .thumb {
            width: 30%;
            transform: translateY(-30%);

            >img {
              width: 100%;
            }
          }
        }
      }
    }
    .s01{
      margin: 30px;
      margin-top: 6%;
      >div{
        padding-bottom: 1%;
        display: flex;
        justify-content: space-between;
        button{
          width: 160px;
          border-radius: 15px;
        }
      }
      ul{
        display: flex;
        li{
          padding-right: 10px;
          width: 250px;
          height: 400px;
          >div{
            
            img{width: 100%;}
          }
          h3{color: white;}
        }
      }
    }

    .s02{
      margin: 30px;
      >div{
        padding-bottom: 1%;
        display: flex;
        justify-content: space-between;
        button{
          width: 160px;
          border-radius: 15px;
        }
      }
      ul{
        display: flex;
        a{
          li{
            padding-right: 10px;
            width: 250px;
            height: 400px;
            >div{
              
              img{width: 100%;}
            }
          }
        }
        
      }
    }

    .s03{
      margin: 30px;
      >div{
        padding-bottom: 1%;
        display: flex;
        justify-content: space-between;
        button{
          width: 160px;
          border-radius: 15px;
        }
      }
      ul{
        display: flex;
        li{
          padding-right: 10px;
          width: 250px;
          height: 400px;
          >div{
            
            img{width: 100%;}
          }
        }
      }
    }

    .s04{
      margin: 30px;
      >div{
        padding-bottom: 1%;
        display: flex;
        justify-content: space-between;
        button{
          width: 160px;
          border-radius: 15px;
        }
      }
      ul{
        display: flex;
        li{
          padding-right: 10px;
          width: 250px;
          height: 400px;
          >div{
            
            img{width: 100%;}
          }
        }
      }
    }
  }
}

article{
  padding-top: 5%;

  h2{
    text-align: center;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 250px;
      height: 400px;
      overflow-wrap: break-word;
      margin: 2% 1%;
      div{
        img{width: 100%;}
      }
      h3{overflow-wrap: break-word;}
    }
  }
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

a{color:white}